.App {
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  flex-wrap: wrap;
  background-color: #414E5A;
  
}

.App p {
  border-bottom: 3px solid #6FDEA9;
  text-align: center;
  color: #FFFFFF;
}

.line-break {
  width: 100%;
}