@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap"); */

.App {
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  align-items: center;
}

:root {
  --color-green: #6fdea9;
  --color-seagreen: #6a9997;
  --color-riverbed: #414e5a;
  --color-seablue: #a4caeb;
}

.hero {
  width: 80%;
  display: flex;
  align-content: center;
}

a {
  color: inherit;
  text-decoration-line: none;
}

a:visited {
  color: inherit;
}

.break {
  padding-top: 25vh;
}
.break-sm {
  padding-top: 43vh;
}

.text {
  font-size: 18pt;
}
@media (max-width: 768px) {
  .text {
    font-size: 12pt;
  }
  .title-text {
    font-size: 18pt;
  }
}

.title-text {
  font-size: 24pt;
}

.img-small {
  height: 30vh;
}
.img-md {
  width: 50%;
  height: 50%;
}

.about,
.project,
.left-align,
.contact {
  width: 80%;
  display: flex;
}

.about hr {
  width: 80%;
  justify-self: flex-end;
  background-color: white;
}

.dividing-line {
  margin-left: 20px;
  margin-right: 20px;
  align-self: center;
  width: 80%;
  border-bottom: 4px solid white;
  border-radius: 25%;
}

li {
  list-style: none;
}

.project-title {
  align-self: start;
}

.mt {
  margin: 1em 0;
}

ul {
  column-count: 2;
}

.circle {
  height: 2em;
  width: 2em;
  background-color: white;
  border-radius: 50%;
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
}
